---
import Layout from "../layouts/Layout.astro"
---

<Layout path="/conditions-generales" title="Conditions générales" description="Conditions générales d'utilisation du site jeremy-deurvillier.com.">
    <section slot="header" class="min-h-[50vh] flex items-center justify-center">
		<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
			<h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-neutral-900 md:text-5xl lg:text-6xl dark:text-white">
                Conditions générales
			</h1>
	</section>

    <div class="text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-900 pb-4">
        <div class="container max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-5xl mx-auto">
            <section class="px-6 py-8">
                <h2 class="text-3xl font-semibold text-neutral-800 capitalize lg:text-4xl dark:text-white mb-4">
                    Préambule
                </h2>
                <p class="text-justify">
                    Les présentes conditions générales d'utilisation et de vente (CGU/CGV) régissent l'utilisation de notre site web et les relations contractuelles entre Jérémy Deurvillier et ses clients.
                </p>
            </section>

            <section class="px-6 py-8">
                <h2 class="text-3xl font-semibold text-neutral-800 capitalize lg:text-4xl dark:text-white mb-4">
                    Article 1 : Objet
                </h2>
                <p class="text-justify">
                    Les présentes CGU/CGV ont pour objet de définir les conditions dans lesquelles je fournis mes services aux utilisateurs du site https://jeremy-deurvillier.com.
                </p>
            </section>

            <section class="px-6 py-8">
                <h2 class="text-3xl font-semibold text-neutral-800 capitalize lg:text-4xl dark:text-white mb-4">
                    Article 2 : Acceptation des conditions
                </h2>
                <p class="text-justify">
                    L'utilisation du site https://jeremy-deurvillier.com implique l'acceptation pleine et entière des présentes CGU/CGV. Si vous n'acceptez pas ces conditions, vous ne devez pas utiliser le site.
                </p>
            </section>

            <section class="px-6 py-8">
                <h2 class="text-3xl font-semibold text-neutral-800 capitalize lg:text-4xl dark:text-white mb-4">
                    Article 3 : Services proposés
                </h2>
                <p class="text-justify">
                    Je propose divers services liés au développement web, incluant, sans s'y limiter, la création de sites internet, le développement d'applications web et le conseil en stratégie digitale.
                </p>
            </section>

            <section class="px-6 py-8">
                <h2 class="text-3xl font-semibold text-neutral-800 capitalize lg:text-4xl dark:text-white mb-4">
                    Article 4 : Tarifs et modalités de paiement
                </h2>
                <p class="text-justify">
                    Les prix de nos services sont indiqués en euros hors taxes (HT). Le paiement des prestations s'effectue selon les modalités définies lors de la commande. Toute commande validée constitue un engagement ferme et définitif de la part du client.
                </p>
            </section>

            <section class="px-6 py-8">
                <h2 class="text-3xl font-semibold text-neutral-800 capitalize lg:text-4xl dark:text-white mb-4">
                    Article 5 : Droit de rétractation
                </h2>
                <p class="text-justify">
                    Conformément à la législation en vigueur, le client dispose d'un délai de 14 jours pour exercer son droit de rétractation sans avoir à justifier de motifs ni à payer de pénalités.
                </p>
            </section>

            <section class="px-6 py-8">
                <h2 class="text-3xl font-semibold text-neutral-800 capitalize lg:text-4xl dark:text-white mb-4">
                    Article 6 : Responsabilité
                </h2>
                <p class="text-justify">
                    Nous ne saurions être tenus responsables des dommages directs ou indirects causés au matériel de l'utilisateur lors de l'accès au site. L'utilisateur s'engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour.
                </p>
            </section>

            <section class="px-6 py-8">
                <h2 class="text-3xl font-semibold text-neutral-800 capitalize lg:text-4xl dark:text-white mb-4">
                    Article 7 : Propriété intellectuelle
                </h2>
                <p class="text-justify">
                    Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de Jérémy Deurvillier, à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.
                </p>
            </section>

            <section class="px-6 py-8">
                <h2 class="text-3xl font-semibold text-neutral-800 capitalize lg:text-4xl dark:text-white mb-4">
                    Article 8 : Modification des CGU/CGV
                </h2>
                <p class="text-justify">
                    Je me réserve le droit de modifier les présentes CGU/CGV à tout moment. Les nouvelles CGU/CGV seront notifiées aux utilisateurs via une mise à jour sur le site web.
                </p>
            </section>

            <section class="px-6 py-8">
                <h2 class="text-3xl font-semibold text-neutral-800 capitalize lg:text-4xl dark:text-white mb-4">
                    Article 9 : Droit applicable et juridiction compétente
                </h2>
                <p class="text-justify">
                    Les présentes CGU/CGV sont soumises à la loi française. Tout litige relatif à leur interprétation et/ou à leur exécution relève des tribunaux français compétents.
                </p>
            </section>
        </div>
    </div>
 
</Layout>