---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Accueil" description="Je suis Jérémy Deurvillier, développeur web à Saint-Étienne. Je recherche une alternance afin de préparer le titre professionnel Concepteur Développeur d'Applications, de niveau BAC +3. Si vous recherchez un développeur autonome, rigoureux et passionné, contactez-moi !">
	<main>
		<p>Hello World !</p>
	</main>
</Layout>
