---
import Layout from "../layouts/Layout.astro";
---

<Layout title="" description="">
    <section slot="header" class="bg-white min-h-[50vh] flex items-center justify-center dark:bg-neutral-900">
		<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
			<h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-neutral-900 md:text-5xl lg:text-6xl dark:text-white">
                Mentions légales
			</h1>
	</section>

    <div class="container max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-5xl mx-auto">
        <section class="text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-900 px-6 py-8">
            <h2 class="text-3xl font-semibold text-neutral-800 capitalize lg:text-4xl dark:text-white mb-4">
                Identification
            </h2>
            <p><strong>Directeur de la publication :</strong> Jérémy Deurvillier</p>
            <p><strong>Téléphone :</strong> (+33) 7 499 335 90</p>
            <p><strong>Email :</strong> contact-@t-jeremy-deurvillier.com</p>
        </section>

        <section class="text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-900 px-6 py-8">
            <h2 class="text-3xl font-semibold text-neutral-800 capitalize lg:text-4xl dark:text-white mb-4">
                Hébergement du site
            </h2>
            <p><strong>Hébergeur :</strong> Netlify</p>
            <p><strong>Adresse :</strong> Netlify, Inc.  512 2nd Street, Fl 2 San Francisco, CA 94107</p>
            <p><strong>E-mail :</strong> privacy@netlify.com</p>
        </section>

        <section class="text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-900 px-6 py-8">
            <h2 class="text-3xl font-semibold text-neutral-800 capitalize lg:text-4xl dark:text-white mb-4">
                Propriété intellectuelle
            </h2>
            <p class="text-justify">
                Le contenu du site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de Jérémy Deurvillier, à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.
            </p>
        </section>

        <section class="text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-900 px-6 py-8">
            <h2 class="text-3xl font-semibold text-neutral-800 capitalize lg:text-4xl dark:text-white mb-4">
                Protection des données personnelles
            </h2>
            <p class="text-justify">
                Vous disposez d'un droit d'accès, de rectification, de modification et de suppression des données qui vous concernent. Vous pouvez exercer ce droit en envoyant un email à l'adresse contact-@t-jeremy-deurvillier.com.
            </p>
        </section>
    </div>

</Layout>
