---
import { Image } from 'astro:assets';
---

<footer class="text-sm text-neutral-500 dark:text-neutral-200 custom-background-image border-t-2 border-emerald-600">
    <div class="container flex flex-col items-center justify-between px-6 pt-8 pb-4 mx-auto sm:flex-row">
        <a href="/">
            <Image class="w-auto h-7 rounded-sm" src="/img/logo.svg" width="28" height="28" alt="Logo de Jérémy Deurvillier" />
        </a>

        <ul class="flex flex-wrap items-center justify-center gap-4 mt-6 lg:gap-6 lg:mt-0">
            <li><a href="/" class="hover:underline">Accueil</a></li>
            <li><a href="/services" class="hover:underline">Services</a></li>
            <li><a href="/formations" class="hover:underline">Formations</a></li>
            <li><a href="/contact" class="hover:underline">Contact</a></li>
        </ul>
    </div>

    <div class="container flex flex-col items-center justify-between px-6 pt-0 pb-3 mx-auto sm:flex-row">
        <ul class="flex flex-wrap items-center justify-center gap-4 mt-3 sm:mt-0 lg:gap-6 lg:mt-0 sm:order-last">
            <li><a href="/mentions-legales" class="hover:underline">Mentions légales</a></li>
            <li><a href="/conditions-generales" class="hover:underline">Conditions Générales</a></li>
        </ul>

        <p class="pt-5 sm:pt-0">
            &copy; { new Date().getFullYear() } Jérémy Deurvillier.
            Tous droits réservés.
        </p>
    </div>
</footer>

<style>
    .custom-background-image {
        background-color: #FFFFFF;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23D4D4D4' stroke-width='2' stroke-opacity='0.7'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    }

    @media (prefers-color-scheme: dark) {
        .custom-background-image {
            background-color: #171717;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23D4D4D4' stroke-width='2' stroke-opacity='0.7'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
        }
    }
</style>