---
import { Image } from 'astro:assets';
import Linkedin from './svg/Linkedin.astro';
import Github from './svg/Github.astro';
import Discord from './svg/Discord.astro';

const currentUrl = Astro.url;
---

<nav id="main-navigation" class="container px-6 py-4 mx-auto" x-data="{isOpen: false}" @keyup.escape.window="isOpen = false" data-currenturl={ currentUrl }>
    <div class="flex items-center justify-between">
        <a href="/" class="rounded-sm">
            <Image src="/img/logo.svg" alt="Logo de Jérémy Deurvillier" width="32" height="32" />
        </a>

        <button class="flex flex-col gap-1.5 *:bg-gradient-to-r *:hover:from-[#269173] *:hover:to-[#065F46]" @click="isOpen = true">
            <span class="w-5 h-1 block bg-neutral-300 transition-colors duration-300"></span>
            <span class="w-8 h-1 block bg-neutral-300 transition-colors duration-300"></span>
            <span class="w-5 h-1 block bg-neutral-300 transition-colors duration-300 self-end"></span>
        </button>
    </div>

    <div class="bg-emerald-600 fixed left-0 top-0 z-50 w-screen h-screen backdrop-blur-md" x-cloak x-show="isOpen" x-transition:enter="transition-all duration-200" x-transition:enter-start="h-0 backdrop-blur-none" x-transition:enter-end="h-screen backdrop-blur-md">
        <div class="h-full container flex flex-col md:flex-row justify-between px-6 py-4 mx-auto">
            <div class="h-full flex flex-col justify-between">
                <ul class="flex flex-col gap-4">
                    <li><a href="/" class="font-bold text-4xl sm:text-5xl xl:text-7xl uppercase text-white transition-all duration-200" x-show="isOpen" x-transition:enter-start="delay-200" x-transition:leave-start="delay-700">Accueil</a></li>
                    <li><a href="/services" class="font-bold text-4xl sm:text-5xl xl:text-7xl uppercase text-white transition-all duration-200" x-show="isOpen" x-transition:enter-start="delay-300" x-transition:leave-start="delay-500">Services</a></li>
                    <li><a href="/formations" class="font-bold text-4xl sm:text-5xl xl:text-7xl uppercase text-white transition-all duration-200" x-show="isOpen" x-transition:enter-start="delay-500" x-transition:leave-start="delay-300">Formations</a></li>
                    <li><a href="#contact" class="font-bold text-4xl sm:text-5xl xl:text-7xl uppercase text-white transition-all duration-200" x-show="isOpen" @click="isOpen = false" x-transition:enter-start="delay-700" x-transition:leave-start="delay-200">Contact</a></li>
                </ul>

                <div class="font-medium text-white hidden md:block">
                    <blockquote class="italic">
                        <p class="mb-2.5">
                            Many great ideas go unexecuted, and many great executioners are without ideas. <br />One without the other is worthless.
                        </p>
                    </blockquote>
                    <p>&mdash; Tim Blixseth</p>
                </div>
            </div>

            <div class="flex md:flex-col items-center justify-between">
                <ul class="flex md:flex-col items-center md:justify-end gap-8 md:order-last">
                    <li>
                        <a class="text-white transition-colors duration-300 transform hover:text-emerald-500" href="https://github.com/jeremy-deurvillier" target="_blank">
                            <Github class="w-8 h-8" />
                        </a>
                    </li>
                    <li>
                        <a class="text-white transition-colors duration-300 transform hover:text-emerald-500" href="https://www.linkedin.com/in/jeremy-deurvillier/" target="_blank">
                            <Linkedin class="w-8 h-8" />
                        </a>
                    </li>
                    <li>
                        <a class="text-white transition-colors duration-300 transform hover:text-emerald-500" href="https://discord.gg/NAxjvzWGmC" target="_blank">
                            <Discord class="w-9 h-9" />
                        </a>
                    </li>
                </ul>

                <div class="flex items-center justify-center -translate-y-0.5 md:-translate-y-5">
                    <button class="text-6xl text-white transition-all duration-200" x-show="isOpen" x-transition:enter-start="delay-1000" x-transition:leave="delay-1000" @click="isOpen = false">&times;</button>
                </div>
            </div>
        </div>
    </div>
</nav>

<style>
    :root {
        --animate-duration: 0.3s;
        --animate-delay: 0.3s;
    }

    [x-cloak] {display: none !important;}
</style>

<script>
console.log('URL', document.querySelector('#main-navigation').dataset.currenturl);
</script>