---
import { Image } from 'astro:assets';
import Linkedin from './svg/Linkedin.astro';
import Github from './svg/Github.astro';
import Discord from './svg/Discord.astro';
---

<nav class="font-sans h-14 bg-neutral-50 flex flex-row justify-between items-center p-2.5 md:px-5 lg:px-8 xl:px-12 2xl:px-24" x-data="{isOpen: false}">
    <ul class="flex flex-row justify-between items-center">
        <li>
            <a href="/">
                <Image src="/img/logo.svg" alt="Logo de Jérémy Deurvillier" width="32" height="32" />
            </a>
        </li>
    </ul>

    <ul x-show="!isOpen">
        <li>
            <button class="flex flex-col gap-1.5 *:bg-gradient-to-r *:hover:from-[#269173] *:hover:to-[#065F46]" @click="isOpen = true">
                <span class="w-5 h-1 block bg-neutral-300 transition-colors duration-300"></span>
                <span class="w-8 h-1 block bg-neutral-300 transition-colors duration-300"></span>
                <span class="w-5 h-1 block bg-neutral-300 transition-colors duration-300 self-end"></span>
            </button>
        </li>
    </ul>

    <div class="bg-transparent backdrop-blur-md flex flex-col absolute top-0 right-0 bottom-0 left-0 overflow-hidden" x-cloak x-show="isOpen" x-transition:enter="transition-all duration-200" x-transition:enter-start="h-0 backdrop-blur-none" x-transition:enter-end="h-screen backdrop-blur-md">
        <p class="h-14 absolute w-full flex flex-row justify-end items-center px-2.5 md:px-5 lg:px-8 xl:px-12 2xl:px-24 mb-3">
            <button class="text-6xl text-neutral-300 hover:text-[#065F46]" @click="isOpen = false">
                &times;
            </button>
        </p>

        <div class="font-medium text-2xl lg:text-3xl xl:text-4xl h-screen flex flex-wrap flex-row items-start justify-between items-stretch justify-items-stretch p-3">
            <div class="w-full">
                <ul class="h-full flex flex-col md:flex-row md:items-end justify-evenly">
                    <li><a href="/" class="text-black bg-gradient-to-r hover:from-[#269173] hover:to-[#065F46] rounded-md px-4 py-3 transition-all duration-300 hover:text-white animate__animated animate__delay-2s animate__flipInX animate__faster">Accueil</a></li>
                    <li><a href="/services" class="text-black bg-gradient-to-r hover:from-[#269173] hover:to-[#065F46] rounded-md px-4 py-3 transition-all duration-300 hover:text-white animate__animated animate__delay-3s animate__flipInX animate__faster">Services</a></li>
                    <li><a href="/formations" class="text-black bg-gradient-to-r hover:from-[#269173] hover:to-[#065F46] rounded-md px-4 py-3 transition-all duration-300 hover:text-white animate__animated animate__delay-4s animate__flipInX animate__faster">Formations</a></li>
                    <li><a href="/contact" class="text-black bg-gradient-to-r hover:from-[#269173] hover:to-[#065F46] rounded-md px-4 py-3 transition-all duration-300 hover:text-white animate__animated animate__delay-5s animate__flipInX animate__faster">Contact</a></li>
                </ul>
            </div>

            <div class="md:w-1/2">
                <ul class="h-full md:w-full flex flex-col md:flex-row justify-end md:justify-end md:items-end gap-4 md:gap-6">
                    <li><a href="/blog" class="hover:text-[#269173] pl-4" x-show="isOpen" x-transition.delay.300ms>Blog</a></li>
                    <li><a href="/projets" class="hover:text-[#269173] pl-4" x-show="isOpen" x-transition.delay.500ms>Projets</a></li>
                </ul>
            </div>

            <div>
                <ul class="h-full flex flex-col md:flex-row items-center md:items-end justify-end gap-4 md:gap-6 md:px-5 lg:px-8 xl:px-12 2xl:px-24">
                    <li>
                        <a href="https://github.com/jeremy-deurvillier" class="text-[#171515] transition-all duration-300 animate__animated animate__delay-3s animate__bounceIn animate__faster">
                            <Github />
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/jeremy-deurvillier/" class="text-[#0A66C2] transition-all duration-300 animate__animated animate__delay-4s animate__bounceIn animate__faster">
                            <Linkedin />
                        </a>
                    </li>
                    <li>
                        <a href="https://discord.gg/NAxjvzWGmC" class="text-[#5865F2] transition-all duration-300 animate__animated animate__delay-5s animate__bounceIn animate__faster">
                            <Discord />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<style>
    :root {
        --animate-duration: 0.3s;
        --animate-delay: 0.3s;
    }

    [x-cloak] {display: none !important;}
</style>