---
import Navbar from '../components/Navbar.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />

		<title>Jérémy Deurvillier - { title }</title>

		<meta name="author" content="Jérémy Deurvillier" />
		<meta name="description" content={ description } />

		<meta name="generator" content={Astro.generator} />

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="icon" type="image/svg+xml" href="/img/logo.svg" />

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	</head>
	<body>
		<header class="mb-3">
			<Navbar />
		</header>
		
		<slot />
	</body>
</html>
